.user_avatar-container {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
