:root {
  /* Screen size */
  --screen-mobile: 375px;
  --screen-desktop: 1440px;
  /* Colors */
  --color-primary-very-dark-magenta: hsl(300, 43%, 22%);
  --color-primary-soft-pink: hsl(333, 80%, 67%);
  --color-neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);
  /* Typography */
  --font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
}
